### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('../data/data.csv')
df.dropna(inplace=True)
df.head(5)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

### Data Preprocessing

In [ ]:
# df['month'] = pd.to_datetime(df['month'], format='%Y-%m')
# df.head(5)

In [4]:
processed_df = df[['month', 'town', 'resale_price']]
processed_df

          month        town  resale_price
0       2017-01  ANG MO KIO      232000.0
1       2017-01  ANG MO KIO      250000.0
2       2017-01  ANG MO KIO      262000.0
3       2017-01  ANG MO KIO      265000.0
4       2017-01  ANG MO KIO      265000.0
...         ...         ...           ...
173329  2024-02      YISHUN      820000.0
173330  2024-02      YISHUN      850000.0
173331  2024-02      YISHUN      795000.0
173332  2024-02      YISHUN      935000.0
173333  2024-02      YISHUN      998000.0

[173334 rows x 3 columns]

In [5]:
# group data by month and town, and retrieve the median resale price for each month for each town
processed_df = processed_df.groupby(['month', 'town']).median().reset_index()
processed_df

        month         town  resale_price
0     2017-01   ANG MO KIO      336500.0
1     2017-01        BEDOK      359000.0
2     2017-01       BISHAN      604000.0
3     2017-01  BUKIT BATOK      338000.0
4     2017-01  BUKIT MERAH      540000.0
...       ...          ...           ...
2229  2024-02    SERANGOON      651000.0
2230  2024-02     TAMPINES      630000.0
2231  2024-02    TOA PAYOH      534000.0
2232  2024-02    WOODLANDS      560000.0
2233  2024-02       YISHUN      483000.0

[2234 rows x 3 columns]

In [6]:
processed_df['month'] = pd.to_datetime(processed_df['month'], format='%Y-%m')
processed_df

          month         town  resale_price
0    2017-01-01   ANG MO KIO      336500.0
1    2017-01-01        BEDOK      359000.0
2    2017-01-01       BISHAN      604000.0
3    2017-01-01  BUKIT BATOK      338000.0
4    2017-01-01  BUKIT MERAH      540000.0
...         ...          ...           ...
2229 2024-02-01    SERANGOON      651000.0
2230 2024-02-01     TAMPINES      630000.0
2231 2024-02-01    TOA PAYOH      534000.0
2232 2024-02-01    WOODLANDS      560000.0
2233 2024-02-01       YISHUN      483000.0

[2234 rows x 3 columns]

In [7]:
# get unique towns
towns = processed_df['town'].unique()
towns

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT PANJANG', 'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG',
       'CLEMENTI', 'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'PASIR RIS', 'PUNGGOL',
       'QUEENSTOWN', 'SEMBAWANG', 'SENGKANG', 'SERANGOON', 'TAMPINES',
       'TOA PAYOH', 'WOODLANDS', 'YISHUN'], dtype=object)

In [12]:
train_df = processed_df.copy()

In [37]:
# for multiple towns

forecast_dfs = []

for town in towns:
    train_df_town = train_df[train_df['town'] == town]
    # train_df_town.set_index('month', inplace=True)
    # order = (2, 2, 2)

    # model = ARIMA(train_df_town['resale_price'], order=order)
    # results = model.fit()
    # forecast = results.forecast(steps=84)
    
    # # Convert forecast series to DataFrame
    # forecast_df = forecast.to_frame()
    # forecast_df.reset_index(inplace=True)
    # forecast_df.columns = ['month', 'resale_price']
    # forecast_df['town'] = town
    train_df_town.set_index('month', inplace=True)
    model = ARIMA(train_df_town['resale_price'], order=(1,2,1))
    # MODEL - USE THIS
    results = model.fit()
    x=results.forecast(84)

    # Generate a sequence of future months based on the last known month in the training data
    last_month = train_df_town.index[-1]
    future_months = [last_month + DateOffset(months=i) for i in range(1, 85)]

    # Convert the forecasted values to a DataFrame
    forecast_df = x.to_frame()
    forecast_df.reset_index(drop=True, inplace=True)  # Reset index to start from 0
    forecast_df.columns = ['resale_price']  # Update column name

    # Add the 'month' and 'town' columns
    forecast_df['month'] = future_months
    forecast_df['town'] = town

    # Reorder columns
    forecast_df = forecast_df[['month', 'resale_price', 'town']]
    
    # Append forecast DataFrame to the list
    forecast_dfs.append(forecast_df)

# Concatenate all forecast DataFrames
forecast_df_all = pd.concat(forecast_dfs, ignore_index=True)

# Output the concatenated forecast DataFrame
forecast_df_all

          month   resale_price        town
0    2024-03-01  480380.531625  ANG MO KIO
1    2024-04-01  485816.405843  ANG MO KIO
2    2024-05-01  491260.328808  ANG MO KIO
3    2024-06-01  496705.422343  ANG MO KIO
4    2024-07-01  502150.686118  ANG MO KIO
...         ...            ...         ...
2179 2030-10-01  853391.851400      YISHUN
2180 2030-11-01  858479.108850      YISHUN
2181 2030-12-01  863566.366301      YISHUN
2182 2031-01-01  868653.623751      YISHUN
2183 2031-02-01  873740.881201      YISHUN

[2184 rows x 3 columns]

In [38]:
import json
import pandas as pd

# Assuming forecast_df_all is your DataFrame containing the data

# Convert the 'month' column to datetime
forecast_df_all['month'] = pd.to_datetime(forecast_df_all['month'])

# Group the data by town and year
grouped_data = forecast_df_all.groupby(['town', forecast_df_all['month'].dt.year])

# Initialize a dictionary to store the results
result_dict = {}

# Iterate over the grouped data
for (town, year), group in grouped_data:
    # Calculate the median resale price for each group
    median_price = int(group['resale_price'].median())
    
    # If the town is not in the result_dict, add it
    if town not in result_dict:
        result_dict[town] = {
            "town": str(town),
            "data": []
        }
    
    # Append the data for this group to the result list
    result_dict[town]["data"].append({
        "medianPrice": median_price, "year": int(year)
    })

# Convert the dictionary values to a list
result = list(result_dict.values())

# Convert the result to JSON
json_result = json.dumps(result, indent=2)
print(json_result)

[
  {
    "town": "ANG MO KIO",
    "data": [
      {
        "medianPrice": 504873,
        "year": 2024
      },
      {
        "medianPrice": 564771,
        "year": 2025
      },
      {
        "medianPrice": 630115,
        "year": 2026
      },
      {
        "medianPrice": 695458,
        "year": 2027
      },
      {
        "medianPrice": 760802,
        "year": 2028
      },
      {
        "medianPrice": 826145,
        "year": 2029
      },
      {
        "medianPrice": 891489,
        "year": 2030
      },
      {
        "medianPrice": 929606,
        "year": 2031
      }
    ]
  },
  {
    "town": "BEDOK",
    "data": [
      {
        "medianPrice": 467873,
        "year": 2024
      },
      {
        "medianPrice": 504450,
        "year": 2025
      },
      {
        "medianPrice": 544354,
        "year": 2026
      },
      {
        "medianPrice": 584257,
        "year": 2027
      },
      {
        "medianPrice": 624161,
        "year": 2028
      },
      {
        "medianPrice": 664064,
        "year": 2029
      },
      {
        "medianPrice": 703968,
        "year": 2030
      },
      {
        "medianPrice": 727245,
        "year": 2031
      }
    ]
  },
  {
    "town": "BISHAN",
    "data": [
      {
        "medianPrice": 786880,
        "year": 2024
      },
      {
        "medianPrice": 880488,
        "year": 2025
      },
      {
        "medianPrice": 982605,
        "year": 2026
      },
      {
        "medianPrice": 1084723,
        "year": 2027
      },
      {
        "medianPrice": 1186840,
        "year": 2028
      },
      {
        "medianPrice": 1288958,
        "year": 2029
      },
      {
        "medianPrice": 1391075,
        "year": 2030
      },
      {
        "medianPrice": 1450643,
        "year": 2031
      }
    ]
  },
  {
    "town": "BUKIT BATOK",
    "data": [
      {
        "medianPrice": 632907,
        "year": 2024
      },
      {
        "medianPrice": 708137,
        "year": 2025
      },
      {
        "medianPrice": 790205,
        "year": 2026
      },
      {
        "medianPrice": 872273,
        "year": 2027
      },
      {
        "medianPrice": 954341,
        "year": 2028
      },
      {
        "medianPrice": 1036409,
        "year": 2029
      },
      {
        "medianPrice": 1118477,
        "year": 2030
      },
      {
        "medianPrice": 1166350,
        "year": 2031
      }
    ]
  },
  {
    "town": "BUKIT MERAH",
    "data": [
      {
        "medianPrice": 800015,
        "year": 2024
      },
      {
        "medianPrice": 855721,
        "year": 2025
      },
      {
        "medianPrice": 916493,
        "year": 2026
      },
      {
        "medianPrice": 977265,
        "year": 2027
      },
      {
        "medianPrice": 1038036,
        "year": 2028
      },
      {
        "medianPrice": 1098808,
        "year": 2029
      },
      {
        "medianPrice": 1159580,
        "year": 2030
      },
      {
        "medianPrice": 1195030,
        "year": 2031
      }
    ]
  },
  {
    "town": "BUKIT PANJANG",
    "data": [
      {
        "medianPrice": 619640,
        "year": 2024
      },
      {
        "medianPrice": 693055,
        "year": 2025
      },
      {
        "medianPrice": 773144,
        "year": 2026
      },
      {
        "medianPrice": 853233,
        "year": 2027
      },
      {
        "medianPrice": 933322,
        "year": 2028
      },
      {
        "medianPrice": 1013410,
        "year": 2029
      },
      {
        "medianPrice": 1093499,
        "year": 2030
      },
      {
        "medianPrice": 1140218,
        "year": 2031
      }
    ]
  },
  {
    "town": "BUKIT TIMAH",
    "data": [
      {
        "medianPrice": 1139091,
        "year": 2024
      },
      {
        "medianPrice": 1274303,
        "year": 2025
      },
      {
        "medianPrice": 1421774,
        "year": 2026
      },
      {
        "medianPrice": 1569246,
        "year": 2027
      },
      {
        "medianPrice": 1716717,
        "year": 2028
      },
      {
        "medianPrice": 1864188,
        "year": 2029
      },
      {
        "medianPrice": 2011659,
        "year": 2030
      },
      {
        "medianPrice": 2097684,
        "year": 2031
      }
    ]
  },
  {
    "town": "CENTRAL AREA",
    "data": [
      {
        "medianPrice": 513351,
        "year": 2024
      },
      {
        "medianPrice": 539592,
        "year": 2025
      },
      {
        "medianPrice": 568264,
        "year": 2026
      },
      {
        "medianPrice": 596935,
        "year": 2027
      },
      {
        "medianPrice": 625606,
        "year": 2028
      },
      {
        "medianPrice": 654278,
        "year": 2029
      },
      {
        "medianPrice": 682949,
        "year": 2030
      },
      {
        "medianPrice": 699674,
        "year": 2031
      }
    ]
  },
  {
    "town": "CHOA CHU KANG",
    "data": [
      {
        "medianPrice": 587200,
        "year": 2024
      },
      {
        "medianPrice": 656307,
        "year": 2025
      },
      {
        "medianPrice": 731433,
        "year": 2026
      },
      {
        "medianPrice": 806558,
        "year": 2027
      },
      {
        "medianPrice": 881683,
        "year": 2028
      },
      {
        "medianPrice": 956808,
        "year": 2029
      },
      {
        "medianPrice": 1031934,
        "year": 2030
      },
      {
        "medianPrice": 1075757,
        "year": 2031
      }
    ]
  },
  {
    "town": "CLEMENTI",
    "data": [
      {
        "medianPrice": 538143,
        "year": 2024
      },
      {
        "medianPrice": 578731,
        "year": 2025
      },
      {
        "medianPrice": 622993,
        "year": 2026
      },
      {
        "medianPrice": 667256,
        "year": 2027
      },
      {
        "medianPrice": 711519,
        "year": 2028
      },
      {
        "medianPrice": 755781,
        "year": 2029
      },
      {
        "medianPrice": 800044,
        "year": 2030
      },
      {
        "medianPrice": 825864,
        "year": 2031
      }
    ]
  },
  {
    "town": "GEYLANG",
    "data": [
      {
        "medianPrice": 527327,
        "year": 2024
      },
      {
        "medianPrice": 579432,
        "year": 2025
      },
      {
        "medianPrice": 636277,
        "year": 2026
      },
      {
        "medianPrice": 693122,
        "year": 2027
      },
      {
        "medianPrice": 749967,
        "year": 2028
      },
      {
        "medianPrice": 806812,
        "year": 2029
      },
      {
        "medianPrice": 863657,
        "year": 2030
      },
      {
        "medianPrice": 896816,
        "year": 2031
      }
    ]
  },
  {
    "town": "HOUGANG",
    "data": [
      {
        "medianPrice": 568204,
        "year": 2024
      },
      {
        "medianPrice": 635433,
        "year": 2025
      },
      {
        "medianPrice": 708786,
        "year": 2026
      },
      {
        "medianPrice": 782138,
        "year": 2027
      },
      {
        "medianPrice": 855491,
        "year": 2028
      },
      {
        "medianPrice": 928843,
        "year": 2029
      },
      {
        "medianPrice": 1002196,
        "year": 2030
      },
      {
        "medianPrice": 1044985,
        "year": 2031
      }
    ]
  },
  {
    "town": "JURONG EAST",
    "data": [
      {
        "medianPrice": 474209,
        "year": 2024
      },
      {
        "medianPrice": 482567,
        "year": 2025
      },
      {
        "medianPrice": 491686,
        "year": 2026
      },
      {
        "medianPrice": 500804,
        "year": 2027
      },
      {
        "medianPrice": 509922,
        "year": 2028
      },
      {
        "medianPrice": 519040,
        "year": 2029
      },
      {
        "medianPrice": 528159,
        "year": 2030
      },
      {
        "medianPrice": 533478,
        "year": 2031
      }
    ]
  },
  {
    "town": "JURONG WEST",
    "data": [
      {
        "medianPrice": 543523,
        "year": 2024
      },
      {
        "medianPrice": 607614,
        "year": 2025
      },
      {
        "medianPrice": 677499,
        "year": 2026
      },
      {
        "medianPrice": 747383,
        "year": 2027
      },
      {
        "medianPrice": 817268,
        "year": 2028
      },
      {
        "medianPrice": 887152,
        "year": 2029
      },
      {
        "medianPrice": 957037,
        "year": 2030
      },
      {
        "medianPrice": 997803,
        "year": 2031
      }
    ]
  },
  {
    "town": "KALLANG/WHAMPOA",
    "data": [
      {
        "medianPrice": 728124,
        "year": 2024
      },
      {
        "medianPrice": 793954,
        "year": 2025
      },
      {
        "medianPrice": 865777,
        "year": 2026
      },
      {
        "medianPrice": 937599,
        "year": 2027
      },
      {
        "medianPrice": 1009421,
        "year": 2028
      },
      {
        "medianPrice": 1081244,
        "year": 2029
      },
      {
        "medianPrice": 1153066,
        "year": 2030
      },
      {
        "medianPrice": 1194963,
        "year": 2031
      }
    ]
  },
  {
    "town": "MARINE PARADE",
    "data": [
      {
        "medianPrice": 534786,
        "year": 2024
      },
      {
        "medianPrice": 596478,
        "year": 2025
      },
      {
        "medianPrice": 663770,
        "year": 2026
      },
      {
        "medianPrice": 731062,
        "year": 2027
      },
      {
        "medianPrice": 798355,
        "year": 2028
      },
      {
        "medianPrice": 865647,
        "year": 2029
      },
      {
        "medianPrice": 932939,
        "year": 2030
      },
      {
        "medianPrice": 972193,
        "year": 2031
      }
    ]
  },
  {
    "town": "PASIR RIS",
    "data": [
      {
        "medianPrice": 572991,
        "year": 2024
      },
      {
        "medianPrice": 632820,
        "year": 2025
      },
      {
        "medianPrice": 705503,
        "year": 2026
      },
      {
        "medianPrice": 778186,
        "year": 2027
      },
      {
        "medianPrice": 850869,
        "year": 2028
      },
      {
        "medianPrice": 923552,
        "year": 2029
      },
      {
        "medianPrice": 996236,
        "year": 2030
      },
      {
        "medianPrice": 1038634,
        "year": 2031
      }
    ]
  },
  {
    "town": "PUNGGOL",
    "data": [
      {
        "medianPrice": 685417,
        "year": 2024
      },
      {
        "medianPrice": 767232,
        "year": 2025
      },
      {
        "medianPrice": 854356,
        "year": 2026
      },
      {
        "medianPrice": 941429,
        "year": 2027
      },
      {
        "medianPrice": 1028500,
        "year": 2028
      },
      {
        "medianPrice": 1115572,
        "year": 2029
      },
      {
        "medianPrice": 1202644,
        "year": 2030
      },
      {
        "medianPrice": 1253435,
        "year": 2031
      }
    ]
  },
  {
    "town": "QUEENSTOWN",
    "data": [
      {
        "medianPrice": 762820,
        "year": 2024
      },
      {
        "medianPrice": 853894,
        "year": 2025
      },
      {
        "medianPrice": 953174,
        "year": 2026
      },
      {
        "medianPrice": 1052455,
        "year": 2027
      },
      {
        "medianPrice": 1151736,
        "year": 2028
      },
      {
        "medianPrice": 1251017,
        "year": 2029
      },
      {
        "medianPrice": 1350298,
        "year": 2030
      },
      {
        "medianPrice": 1408212,
        "year": 2031
      }
    ]
  },
  {
    "town": "SEMBAWANG",
    "data": [
      {
        "medianPrice": 590831,
        "year": 2024
      },
      {
        "medianPrice": 660549,
        "year": 2025
      },
      {
        "medianPrice": 736634,
        "year": 2026
      },
      {
        "medianPrice": 812718,
        "year": 2027
      },
      {
        "medianPrice": 888803,
        "year": 2028
      },
      {
        "medianPrice": 964888,
        "year": 2029
      },
      {
        "medianPrice": 1040972,
        "year": 2030
      },
      {
        "medianPrice": 1085355,
        "year": 2031
      }
    ]
  },
  {
    "town": "SENGKANG",
    "data": [
      {
        "medianPrice": 601687,
        "year": 2024
      },
      {
        "medianPrice": 666016,
        "year": 2025
      },
      {
        "medianPrice": 741377,
        "year": 2026
      },
      {
        "medianPrice": 816892,
        "year": 2027
      },
      {
        "medianPrice": 892411,
        "year": 2028
      },
      {
        "medianPrice": 967930,
        "year": 2029
      },
      {
        "medianPrice": 1043449,
        "year": 2030
      },
      {
        "medianPrice": 1087501,
        "year": 2031
      }
    ]
  },
  {
    "town": "SERANGOON",
    "data": [
      {
        "medianPrice": 679225,
        "year": 2024
      },
      {
        "medianPrice": 738632,
        "year": 2025
      },
      {
        "medianPrice": 803439,
        "year": 2026
      },
      {
        "medianPrice": 868246,
        "year": 2027
      },
      {
        "medianPrice": 933054,
        "year": 2028
      },
      {
        "medianPrice": 997861,
        "year": 2029
      },
      {
        "medianPrice": 1062668,
        "year": 2030
      },
      {
        "medianPrice": 1100472,
        "year": 2031
      }
    ]
  },
  {
    "town": "TAMPINES",
    "data": [
      {
        "medianPrice": 671668,
        "year": 2024
      },
      {
        "medianPrice": 750912,
        "year": 2025
      },
      {
        "medianPrice": 837338,
        "year": 2026
      },
      {
        "medianPrice": 923763,
        "year": 2027
      },
      {
        "medianPrice": 1010189,
        "year": 2028
      },
      {
        "medianPrice": 1096615,
        "year": 2029
      },
      {
        "medianPrice": 1183040,
        "year": 2030
      },
      {
        "medianPrice": 1233455,
        "year": 2031
      }
    ]
  },
  {
    "town": "TOA PAYOH",
    "data": [
      {
        "medianPrice": 553412,
        "year": 2024
      },
      {
        "medianPrice": 608090,
        "year": 2025
      },
      {
        "medianPrice": 667729,
        "year": 2026
      },
      {
        "medianPrice": 727368,
        "year": 2027
      },
      {
        "medianPrice": 787006,
        "year": 2028
      },
      {
        "medianPrice": 846645,
        "year": 2029
      },
      {
        "medianPrice": 906284,
        "year": 2030
      },
      {
        "medianPrice": 941074,
        "year": 2031
      }
    ]
  },
  {
    "town": "WOODLANDS",
    "data": [
      {
        "medianPrice": 604307,
        "year": 2024
      },
      {
        "medianPrice": 675691,
        "year": 2025
      },
      {
        "medianPrice": 753496,
        "year": 2026
      },
      {
        "medianPrice": 831301,
        "year": 2027
      },
      {
        "medianPrice": 909106,
        "year": 2028
      },
      {
        "medianPrice": 986911,
        "year": 2029
      },
      {
        "medianPrice": 1064716,
        "year": 2030
      },
      {
        "medianPrice": 1110102,
        "year": 2031
      }
    ]
  },
  {
    "town": "YISHUN",
    "data": [
      {
        "medianPrice": 474700,
        "year": 2024
      },
      {
        "medianPrice": 530351,
        "year": 2025
      },
      {
        "medianPrice": 591398,
        "year": 2026
      },
      {
        "medianPrice": 652445,
        "year": 2027
      },
      {
        "medianPrice": 713492,
        "year": 2028
      },
      {
        "medianPrice": 774539,
        "year": 2029
      },
      {
        "medianPrice": 835586,
        "year": 2030
      },
      {
        "medianPrice": 871197,
        "year": 2031
      }
    ]
  }
]

In [39]:
# save json_result to a file
with open('forecast.json', 'w') as f:
    f.write(json_result)